

body{
	font-family: courier, arial;
}

.cabecera{
	height: 50px;
	font-size: 40px;
	background-color: tomato;
	color: white;
}

.cabecera a {
	text-decoration: none;
}

.cabecera a:hover{
	color: gray;
}

.footer{
	color:white;
	background-color: tomato;
}